<div class='help-text'>
  <p><em>PREFERENCES:</em> where you set your notification settings. Do you want to be reminded to check your blood sugar? Select "Yes" and get a daily reminder. You can change this setting at any time.</p>

  <p><em>DOCTOR INFO:</em> Put your doctor's information here. Every Sunday morning, as the first rooster crows, your doctor will be emailed your daily readings for the past week. If you doctor is one of many in an office, be sure to specify his field or office number in the comments.</p>

  <p>for a particular Diabetic:</p>

  <p><em>ADD RECORD:</em> this is where you record your blood sugar reading. Ideally this is done before eating a meal.</p>

  <p>Be sure to enter a time and any comments that may explain abnormal readings (i.e. did you have a snack so your blood sugar is spiked, or are you late having a meal so your blood sugar reading is lower than normal).</p>

  <p><em>VIEW RECORDS:</em> the place that will render your readings into the most impressive graph. Ever. Rainbows will magically appear wherever you are (even indoors).</p>

  <p>If you prefer a less graphy view of your readings, go ahead and click on "RECORDS" and the graph will go away and reveal the same thing that will be emailed to your doctor on Sunday morning.</p>

  <p><em>EDIT INFO:</em> Allows you to change the information of the selected diabetic, including their notification preferences and doctor info</p>

  <p><em>FOR AN ACCOUNT:</em></p>

  <p><em>ADD DIABETIC:</em> will do just that - add another diabetic to your account. Perfect if keeping track of multiple people. You will have to re-enter doctor information because some people may have different doctors.</p>

  <p><em>EDIT THE ACCOUNT:</em> Edit the username/email/password of the actual account.</p>

</div>

<script>
var title = 'How-to'
var leftButton = {
  type: 'cancel',
  text: 'Back'
}
var rightButton = {
  type: 'none'
}
</script>
