<!DOCTYPE html>
<html>
<head>
  <title>GlucoseAmigo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0">
</head>

<body>
  <div id="notice-box">
    <div id='notice'>
      <h4></h4>
    </div>
  </div>
  <div id='header' >
    <h1 id='title'></h1>
  </div>

  <div id='content'>

    <%= yield %>
  </div>

  <div id='navbar'>
  </div>
</body>
</html>
